<div>
    <h2 style="color:crimson;">Historial</h2>

    {{#if DB_Productos}}
        <div class="table-responsive">
            <table class="table table-dark" id="historial-productos">
                <tr style="color: yellow;"> <th>Id</th> <th>Title</th> <th>Price</th> </tr>
                {{#each DB_Productos}}
                <tr>
                    <td>{{this.id}}</td>
                    <td>{{this.title}}</td>
                    <td>{{this.price}}</td>
                    <td>
                        <img width="30" src="{{this.thumbnail}}" alt="">
                    </td>
                </tr>
                {{/each}}
                               
            </table>
        </div>
    {{else}}
        <h3 class="alert alert-warning">No se encontraron productos</h3>
    {{/if}}
</div>
