div
    h2(style='color:crimson;') Historial
    br
    if DB_Productos.length > 0
        div(class="table-responsive")
            table.table.table-dark
                tr(style='color: yellow;')
                    th Id
                    th Title
                    th Price

                each item in DB_Productos        
                    tr
                        td=item.id
                        td=item.title
                        td=item.price
                        td
                            img(width="30" src=item.thumbnail, alt="")
    else 
        h3(class="alert alert-warning")='Products not found'